
@import "reset"
@import "utils"

// layout 共用元素
@import "layout/frame"
@import "layout/header"
@import "layout/footer"

// 元件 
@import "components/ani"
@import "components/btn"
@import "components/card"
@import "components/form"
@import "components/lightbox"
@import "components/table"


/* index section */

// 主視覺
.kv
  background-color: #c4e5f6
  padding-bottom: 25px
  // background-image: url('../images/')
  // background-position: center 
  // background-size: cover 
  &-container 
    padding: 0 15px
    font-size: 0
  &-main 
    +clearfix()
    position: relative
  &-aircraft
    position: absolute
    left: 0
    right: 7%
    top: 55%
    transform: translateY(-50%) 
    margin: auto
    text-align: center
    width: 23vw
  &-title 
    float: left
    width: 45%
  &-map 
    float: left
    width: 55%

// 主視覺 END

// 活動辦法 
.act
  position: relative 
  background-color: #fef6e5
  padding-bottom: 160px
  // background-image: url('../images/')
  // background-position: center 
  // background-size: cover 
  &-decora 
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    display: none
    &__left
      position: absolute
      left: 0
      top: 0
    &__right
      position: absolute
      right: 0
      bottom: 0

  &-date 
    text-align: center
    font-size: 0
    &__list 
      display: inline-block
      vertical-align: top
      margin: 0 30px
      @media screen and (max-width: 991px)
        width: 31.33333%
        margin: 0 1%
      @media screen and (max-width: 480px)
        width: 100%
        margin: 0
  &-part
    margin-top: 65px
    .text,.table
      margin-top: 30px
    .text 
      padding: 0 55px
      @media screen and (max-width: 991px)
        padding: 0 
    
// 活動辦法 END

.tab
  padding-top: 25px
  &-menu 
  &-content 
    &__list 
      display: none
      &.tab1 
        display: block
  


// 參考
//   https://css-tricks.com/snippets/css/retina-display-media-query/
//   https://medium.com/nick-%E5%B7%A5%E7%A8%8B%E5%B8%AB%E5%AD%B8%E7%BF%92%E8%A8%98/%E7%B6%B2%E9%A0%81%E5%89%8D%E7%AB%AF%E5%84%AA%E5%8C%96-%E9%9F%BF%E6%87%89%E5%BC%8F%E5%9C%96%E7%89%87%E5%AF%A6%E4%BD%9C-3ab1989b9d9c  

.icon-test
  &:before
    content: ""
    position: relative
    display: inline-block
    vertical-align: middle
    background-image: url('../images/icon.png')
    background-repeat: no-repeat
    width: 35px
    padding-bottom: 44px
    background-position: 0 0
    overflow: hidden
    @media only screen and (-webkit-min-device-pixel-ratio: 2)
      background-image: url('../images/icons@2x.png')
      background-size: 500px 500px
    @media only screen and (min--moz-device-pixel-ratio: 2)
      background-image: url('../images/icons@2x.png')
      background-size: 500px 500px
    @media only screen and (min-device-pixel-ratio: 2)
      background-image: url('../images/icons@2x.png')
      background-size: 500px 500px

      // only screen and (-o-min-device-pixel-ratio: 2/1),
      // only screen and (min-resolution: 192dpi),
      // only screen and (min-resolution: 2dppx)

// @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
// @media only screen and ( min--moz-device-pixel-ratio: 1.25),
// @media only screen and ( -o-min-device-pixel-ratio: 1.25/1),
// @media only screen and ( min-device-pixel-ratio: 1.25),
// @media only screen and ( min-resolution: 200dpi),
// @media only screen and ( min-resolution: 1.25dppx)
//   .test
//     background-image: url('../images/icons@2x.png')
//     background-size: 500px 500px
    

    // @media 
    //   only screen and (min-device-pixel-ratio: 2),only screen and (-webkit-min-device-pixel-ratio: 2)
    //     background-image: url('../images/icons@2x.png')
    //     background-size: 500px 500px
          



  
