ul.card
  li.card-list
    .card-list__pic
    .card-list__textarea
      h4.card-list__title 
      p.card-list__text
  li.card-list
    .card-list__pic
    .card-list__textarea
      h4.card-list__title 
      p.card-list__text
  li.card-list
    .card-list__pic
    .card-list__textarea
      h4.card-list__title 
      p.card-list__text
  li.card-list
    .card-list__pic
    .card-list__textarea
      h4.card-list__title 
      p.card-list__text
  li.card-list
    .card-list__pic
    .card-list__textarea
      h4.card-list__title 
      p.card-list__text