table.table 
  thead.thead 
    tr.tr
      th.th 表格 TITLE 項目1
      th.th 表格 TITLE 項目2
      th.th 表格 TITLE 項目3
      th.th 表格 TITLE 項目4
  tbody.tbody 
    tr.tr
      td.td 表格內容 1
      td.td 表格內容 2
      td.td 表格內容 3
      td.td 表格內容 4
    tr.tr
      td.td 表格內容 1
      td.td 表格內容 2
      td.td 表格內容 3
      td.td 表格內容 4
    tr.tr
      td.td 表格內容 1
      td.td 表格內容 2
      td.td 表格內容 3
      td.td 表格內容 4
//- 
  注意圓角寫法

  左右格子合併為跨欄合併(column span)，設定colspan來達成。
  上下格子合併為跨列合併(row span)，設定rowspan來達成。
  https://matthung0807.blogspot.com/2019/07/html-colspan.html


table.table.table-rwd
table.table.table-rwd-scroll
//- 
  table RWD 目前想到兩種方式呈現
  https://codepen.io/floraya/pen/emVqbK
  https://codepen.io/deejayistheway/pen/yJgNPj

  https://codepen.io/crianbluff/pen/yqRBjq



