header.header
  .header-container
    a.logo(href="#")
      img(src="images/logo.jpg", alt="")
    nav.nav  
      a.nav-list(href="") 活動辦法
      a.nav-list(href="") 得獎公告
      a.nav-list(href="") 注意事項
      a.nav-list(href="") 回首頁  