<!DOCTYPE html>
html(lang="zh-tw")
  include ./_head.pug
  body
    .document
      include ./_header.pug
      include ./template/_form.pug
      span.icon-test
      //- include ./_footer.pug
      script(src="js/all.js")
